body {
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 1080px;

}

.bookTable {
    /* border-style: solid; */
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
  }