body {
    margin: 0;

    display: grid;
    justify-content: center;
    align-items: end;
    height: 1080px;
    gap: 20px;
}

.bookTable {
    border: 1px solid black;
    width: 640px;
}

th, td {
    border: 1px solid black;
}

.newBookButton {
    width: 100px;
}

.formContainer {
    display: grid;
    align-self:flex-start;
    gap: 20px;
}

.form-hid {
    display: none;
}

.form-unhid {
    
}